asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.1
click==8.0.1
docker==5.0.0
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
greenlet==1.1.0
h11==0.12.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.21
urllib3==1.26.6
websocket-client==1.1.0
Werkzeug==2.0.1
